
.flash-center {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0%;
    margin: auto;
    display: block;
    justify-content: center;
    top: 0%;
    z-index: 9001;
   // pointer-events: none;
}

.message-wrap {
    white-space: pre-wrap;
    position: relative;
  //  z-index: 9001;
    min-height: 200px;
    min-width: 300px;
    max-width: 360px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
   // padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #eee;
    border: 2px solid lightblue;
    pointer-events: all;
}

.message-type {
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightblue;
}

.message-body {
    padding: 5px 20px 5px 20px;
    width: 100%;
}