

.json-schema-checkboxes-container {
    max-width: 100%;
    width: calc(100% - 10px);
    margin: 0 5px 0 5px;
}
.json-schema-label {
    width: 100%;
    user-select: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    
    span.glyphicon.glyphicon-triangle-right {
        pointer-events: none;
        padding-right: 15px;
    }
    span.glyphicon.glyphicon-triangle-bottom {
        pointer-events: none;
        padding-right: 15px;
    }

    &.json-schema-label-open {

        span.glyphicon.glyphicon-triangle-right {
            display: none;
        }
        span.glyphicon.glyphicon-triangle-bottom {
            display: inline;
        }
    }

    &.json-schema-label-closed {
        span.glyphicon.glyphicon-triangle-right {
            display: inline;
        }
        span.glyphicon.glyphicon-triangle-bottom {
            display: none;
        }
    }



}


.checkboxes-container {
    padding-left: 2vmax;

    input {
        height: calc(0.875em * 2);
        width: calc(0.875em * 2);
        margin: auto auto 0 auto;
    }
    
}
.labels-container {

    border: 1px solid rgba(50, 50, 50, 0.7);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;

    &:empty {
        border: none;
    }
}

.json-schema-checkbox-label {
    margin: 0px;
    padding: 5px 5px 7px 5px;
    min-width: 30%;
    max-width: 30%;
    flex-direction: column;
    display:flex;
    border-bottom: 1px solid grey;
    margin-bottom: -2px;

    &.text {
        padding: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        border-right: none;
        min-height: 2em;
        max-width: 100%;
        text-align: center;
        word-break: break-word;
        border-bottom: none;
    }
}


.json-schema-checkbox {
    margin:0;
}

.filter-columns-container {
    display: inline-block;
    width: 100%;
}

.object-details-subObject {
    padding-left: 15px;
  
}
