
.list-group-item.notifications {

    display:flex;
    .notification-text {
        width: 80%;
     //   color: #262626;
        //padding: 3px 20px;
    }

    .glyphicon.glyphicon.glyphicon-remove {
        display:flex;
        height: auto;
        width: 20%;
        font-size:1.2em;
      //  color:#262626;
        &::before {
            margin:auto;
        }
    }
}


.notifications-list-items-container {
    max-width: 200px;
    position: absolute;
    z-index:9001;
    padding: 0;
    left: -100px;
    color: #262626;

    .list-group-item {
        word-wrap: break-word;
    }
}
.notifications-container {

        position: absolute;
        left: 0;
}


@media all and (min-width: 766px) {
  .list-group-item.notifications {
      height: 100%;
      display:flex;
      flex-direction: row;
        .notification-text {
            width: 70%;
        //    color: #262626;
            padding: 3px;
        }
    }


    .notifications-list-items-container {
        left: 10px;
        top: 50px;
    }

}

@media all and (min-width: 1199px) {
    .notifications-list-items-container {
            $border-color: rgba(33, 33, 33, 0.5);
            max-width: 350px;
            width: 320px;
            left: -55px;
            top: 50px;
            border-left: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            border-right: 1px solid $border-color;
            border-radius: 0px 0px 3px 3px;
           //border: 1px solid transparent;

            .list-group-item.notifications{
                &:hover {
                    background-color: #333;
                    color: rgb(238, 238, 238);
                }
            }

            .list-group-item.notifications:first-of-type {
                border-radius: 0;
            }
            .glyphicon.glyphicon-remove {
                float: right;
                font-size: 20px;
            }
        }
    .notifications-container {
   
        position: fixed;
        left: 0;
        top: 50px;


    }



}