$page-select-buttons-width: 3em;
$max-displayable-page-select-buttons-any-mediaquery: 8;

.page-picker-container {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;

    .inputs {
        padding-top: 5px;
        padding-bottom: 15px;
        display:flex;
        min-width: 40px;
        input {
            min-width: 100px;
        }
        .page-picker-text {
            font-size:1.1em;
            padding-left: 10px;
        }
        .go-to-result-button {
            margin-left:10px;
            width: 100px;
        }

    }


}
.page-select-buttons-container {

    $prev-next-btn-width: 20%;

    display: flex;
    padding: 10px 0px 10px 0;
    margin: 10px 0px 10px 0;

    // button {
    //     display: flex;
    //     justify-content: center;
    //     margin: auto 15px auto 15px;
    .page-button.prev-next {
        display: flex;
        justify-content: center;
        margin: auto 15px auto 15px;

        margin: 10px;
        padding: 10px;
        border: 1px solid #286090;
        cursor: pointer;
        border-radius: 5px;
            /* background-color: white; */
        color: #286090;
        font-weight: bold;
        width: $prev-next-btn-width;
        max-width: $prev-next-btn-width;
        min-width: $prev-next-btn-width;
        height: 35px;
        display: flex;
        flex-direction: center;
        /* margin: auto; */
        justify-content: center;
        padding: 0;

        :first-of-type {
            margin-left: 5px;
        }

        :last-of-type {
            margin-right: 5px;
        }
    }

    .page-button {

    }
}

.results-navigator-buttons-container {
  //  margin-left: 20px;
    max-width: 100vw;
}

.page-select-buttons{
    $page-select-buttons-button-width: 42px;
    $page-select-buttons-button-margin: 10px;
    $max-displayable-page-select-buttons: 3;

    $to-offset: $max-displayable-page-select-buttons-any-mediaquery - $max-displayable-page-select-buttons;

    //dont want to have median since that may have 2 points
   /// $max-displayable-buttons-midpoint: $max-displayable-page-select-buttons / 2;
    // min-width: 50%;
    // max-width: 50%;
    // width: 50%;

    min-width: $max-displayable-page-select-buttons * $page-select-buttons-button-width + 2 * $max-displayable-page-select-buttons * $page-select-buttons-button-margin;
    max-width:$max-displayable-page-select-buttons * $page-select-buttons-button-width + 2 * $max-displayable-page-select-buttons * $page-select-buttons-button-margin;
    width: $max-displayable-page-select-buttons * $page-select-buttons-button-width + 2 * $max-displayable-page-select-buttons * $page-select-buttons-button-margin;


    display: flex;
    //TODO: Shorten
   // max-width: $max-displayable-page-select-buttons * $page-select-buttons-button-width + $max-displayable-page-select-buttons * ($max-displayable-page-select-buttons * $page-select-buttons-button-margin);
   // justify-content: flex-end;
    margin: auto;
    overflow: hidden;

    .page-button {
        min-width: $page-select-buttons-button-width;
        max-width: $page-select-buttons-button-width;
        display:flex;
        justify-content: center;
        margin: $page-select-buttons-button-margin;
        padding: 10px;
        border: 1px solid #286090;
        cursor: pointer;
        border-radius: 5px;
    }


    :first-child {
        margin-left: $page-select-buttons-button-margin
    }
    // @for $page_number from $max-displayable-page-select-buttons  to $max-displayable-page-select-buttons-any-mediaquery + 1{
    //     $curr_num: $page_number;
    //     @if $curr_num/3 == 0 {
    //       &.buttons-offset-#{$page_number} { 
    //         :first-child {
    //             $net-displayable-pages: $max-displayable-page-select-buttons-any-mediaquery - $max-displayable-page-select-buttons;

    //             $offset-buttons-times: $page-number - $net-displayable-pages;

    //             $offset-margin: ($max-displayable-page-select-buttons-any-mediaquery -( $page_number - 1)) * $page-select-buttons-button-margin + (2 * $page-select-buttons-button-margin) + (2 *$page-select-buttons-button-margin);

    //             $btn-offset: ($offset-buttons-times + 1) * - $page-select-buttons-button-width;
    //             margin-left: calc(#{$btn-offset} - #{$offset-margin});
    //             background-color: red !important;
    //         }
    //     }          
    //     } 

    //     @else{
    //     &.buttons-offset-#{$page_number} { 
    //         :first-child {
    //             $net-displayable-pages: $max-displayable-page-select-buttons-any-mediaquery - $max-displayable-page-select-buttons;

    //             $offset-buttons-times: $page-number - $net-displayable-pages;

    //             $offset-margin: ($max-displayable-page-select-buttons-any-mediaquery - $page_number) * $page-select-buttons-button-margin + (3 * $page-select-buttons-button-margin) + (2 *$page-select-buttons-button-margin);

    //             $btn-offset: ($offset-buttons-times) * - $page-select-buttons-button-width;
    //             margin-left: calc(#{$btn-offset} - #{$offset-margin});
    //         }
    //     }
    //     }



    // }
    //TODO: DRY this up with some kind of sass loop
    
    &.buttons-offset-4 {
        :first-child {
            margin-left: calc(-#{1 * $page-select-buttons-button-width} - #{ 2 * $page-select-buttons-button-margin - $page-select-buttons-button-margin});
        }      
    }


    &.buttons-offset-5 {
        :first-child {
            margin-left: calc(-#{2 * $page-select-buttons-button-width} - #{ 4 * $page-select-buttons-button-margin - $page-select-buttons-button-margin});
        }      
    }


    &.buttons-offset-6 {
        :first-child {
            margin-left: calc(-#{3 * $page-select-buttons-button-width} - #{ 6 * $page-select-buttons-button-margin - $page-select-buttons-button-margin});
        }      
    }


    &.buttons-offset-7 {
        :first-child {
            margin-left: calc(-#{4 * $page-select-buttons-button-width} - #{ 8 * $page-select-buttons-button-margin - $page-select-buttons-button-margin});
        }      
    }

    &.buttons-offset-8 {
        :first-child {
            margin-left: calc(-#{5 * $page-select-buttons-button-width} - #{ 10 * $page-select-buttons-button-margin - $page-select-buttons-button-margin});
        }      
    }
    // .page-button:nth-of-type(3).active{
    //     &.active  {
    //     .page-button:first-of-type {

    //     }
   

    // }
    // - #{-$page-number + $max-displayable-page-select-buttons - 1} * #{$page-select-buttons-button-margin}
//#{$max-displayable-page-select-buttons * $page-select-buttons-button-margin}
    .active {
        background-color: #286090;
        border: 1px solid white;
        color: white;
    }


}



@media all and (min-width: 768px) {



//    .page-select-buttons{
   
   
   
//    }




}