
.react-datepicker {
    margin: 0 auto 0 0;
    font-size:1em;
}

.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__close-icon::after {
    right: initial;
    margin-left: -20px;
}

.react-datepicker__day {
    margin: 10px;
    font-size: 1.2em;
    width: 2rem;
}

.react-datepicker__day-names {
    font-size: 1.2em;
}

.react-datepicker__day-name {
    margin: 10px;
}

@media all and (min-width: 1199px) {
.react-datepicker__day {
    margin: 0.166rem;
    font-size: 1em;
}

.react-datepicker__day-names {
    font-size: 1em;
}

.react-datepicker__day-name {
    margin: 0.166rem;
}



}