//TODO: media queries...
$border-color: 1px solid rgba(50, 50, 50, 0.4);

.no-results {
    margin-left: auto;
    margin-right: auto;
}

.search {
   // border: 1px solid black;
    word-wrap: break-word;
    word-break: break-word;
    cursor: default;

    &.searchable {
        cursor: pointer;
        
    }
    &.title {
        border-radius: 10px 10px 0 0;
        border: $border-color;
        background-color: #145;
        font-weight: bold;
        text-align: center;
        color: rgb(230, 230, 230);
        min-width: 50%;
        &.half {
            min-width: 32.5%;
        }
    }
}

li.search-results {
    list-style-type: none;
    font-size: 1em;
    //TODO: Fix less brittly
    display: flex;
    border-left: $border-color;
    margin-left: 0.5em;
    width: calc(100%);
    span.search.col-xs-3 {
        border-right: $border-color;
        border-bottom: $border-color;
        padding-top: 5px;
        padding-bottom: 5px;
        display:flex;
    //   font-size:1.1em;
        min-width: 50%;
        &.half {
            min-width: 32.5%;
            //min-width: 6%;

        }
        &.half:last-of-type {
            border-right: $border-color;
        }
    }
    
}
.title-container {
    overflow: hidden;
    width: 100%;
    margin-left: -0.45em;
    width: calc(100% + 0.45em);
    display:flex;
    flex-direction: row;
    height: 4em;


    span {
        display:flex;
        justify-content: center;
        text-align: center;
    }

}
.results-li-container {
    overflow: scroll;
   // border-bottom: 1px solid black;
    max-height: 75vh;
    width: calc(100% - 1.5em);
}

span.movable-title-container {
    width: calc(100% - 2em);
    display: flex;
    justify-content: flex-start;
    margin-right: 1em;
    margin-left: 1em;
    //position: absolute;
    //height: 60px;
    will-change: transform;
    transform: translateZ(0);
  //  overflow-x: hidden;
          // transform: translateZ(0);
       // animation-timing-function: ease-out;
      //  -webkit-overflow-scrolling: touch;
      //  width: calc(100% - 3em);
     //  will-change: scroll;
      //  overflow:hidden;
    }

.search.subscription-button-container {

    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
}
.subscription-button {
    margin: auto;
    white-space: pre-line;
    word-break: break-word;
}

.result-history-button {
    @extend .subscription-button;
}



.searchResults-container-div {
    min-width: 70vw;
    overflow: auto;
    max-height: 100%;
}

.search.title.col-xs-3{
    $font-size: 0.9em;

    .title-text {
        justify-content: center;
        min-height: 0;
        margin: auto;
        margin-left: 0%;
        word-break: break-word;
        display: flex;
        width: 60%;
        text-align: center;
        justify-content: center;
        font-size: $font-size;
    }
    &.half {
        min-width: 32.5%;
        .title-text {
            width: 100%;
        }
    }
    &.searchable  {
        .title-spans-container {
            display:flex;
            width:100%;
        }
    }

    .glyphicon {
        top: 0;
    }

    .glyphicon.glyphicon-chevron-down::before{
        margin:auto;
    }

    .glyphicon.glyphicon-chevron-down {
        
        font-size: 1.5em;
        width: 15%;
        
        &:hover {
            opacity: 0.5;
            background-color: rgba(51, 51, 51, 0.5);
        }
        &:active {
            background-color: rgb(51,51,51);
            color: rgb(230, 230, 230);
        }

        //TODO: find some better way to do this
        // "this" being conserving height while keeping the chevrons as position absolute and vertically centerd
        &.filler {
                color: transparent;
                position: initial;
                pointer-events: none;
                width: 0px;
                &::before {
                    width: 0px;
                    margin:0;
                }
        }
    }

    .glyphicon.glyphicon-chevron-up::before{
        margin:auto;
    }

    .glyphicon.glyphicon-chevron-up {
        width: 15%;
        font-size: 1.5em;
        &:hover {
            opacity: 0.5;
            background-color: rgba(51, 51, 51, 0.5);
        }
        &:active {
            background-color: rgb(51,51,51);
            color: rgb(230, 230, 230);
        }


    }



}

.search-results-ul1, .search-results-ul2 {
    animation: searchResultsFadeIn1 1s forwards;
    padding: 0;
    width:100%;
    max-width: 100vw;
}


@media all and (min-width: 766px) {
    
    .no-results {
        margin-left: 30%;
    }
    .search.title.col-xs-3 {
        min-width: 25%;
        &.half {
            min-width: 25%;
        }
        .glyphicon.glyphicon-chevron-down {
            width: 20%;
            font-size: 1.1em;
        }
        .glyphicon.glyphicon-chevron-up {
                width: 20%;
                font-size: 1.1em;
        }
    }
    li.search-results span.search.col-xs-3 {
        min-width: 25%;
        &.half {
            min-width: 25%;
        }
    }

}
@media all and (min-width: 1199px) {
    $font-size: 0.8em;

    .no-results {
        margin-left: 20%;
    }

    .results-amount {
        margin-left: 20%;
    }

    .search.title.col-xs-3 {
        min-width: 15%;
        width: 19%;
        font-size: $font-size;
        &.half {
            width: 13.45%;
            min-width: 13.45%;
            .title-text {
                font-size: $font-size;
                margin: auto;
            }
        }
    }
    li.search-results span.search.col-xs-3 {
        min-width: 15%;
        width: 19%;


        &.half {
            
            width: 13.5%;
            min-width: 13.5%;
            .title-text {
                font-size: $font-size;
                margin: auto;
            }
        }
    }

    .title-container {
       width: calc(100% - 1em);
       margin-left: 0;
    }

    .results-li-container {
       width: calc(100% - 1.5em);
    }
    li.search-results {
        width: calc(100% - 1.5em);
        margin-left: 1em;
    }

}


@media all and (min-width: 1600px) {

    .no-results {
        margin-left: 35%;
    }

    span.movable-title-container {
        width: calc(100% - 3em);
    }
    li.search-results {
        margin-left: 0.5em;
        width: calc(100% - 1.5em);

    }
    .title-container {
        margin-left: -0.5em;
        width: calc(100%);
    }

}
