.jumbotron.user-profile-page-main-container{
    padding: 15px 7px 15px 7px;
    max-width: 100vw;
   // overflow: auto;
}

.perfil-datos {
    font-size:1em;
    height: 20%;
}

.no-show {
    display: none;
}
.profile-stored-searches {
    h2 {
        text-align: center;
    }
}

.profile-stored-subscriptions {
    h2 {
        text-align: center;
    }
}

.saved-items {
    height: 3.3em;
    display: flex;
    margin: auto;
    padding: 0;

}

.list-group-item.saved-items {
    button, .saved-items-description {
        width: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    .saved-items-description {
        margin: auto auto auto 15px;
        display: block;
        display: -webkit-box;
        margin: 0 auto;
         width: 35%;
        line-height: 1.6;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        // text-overflow: ellipsis;
        padding: 1px 0 1px 2px;
            .desc-text {
                height: 100%;
                display: -webkit-box;
                margin: 0 auto;
                line-height: 1.5;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 1px 0 1px 2px;
            }
    }
}

.full-width {
    width: 100%;
}

.user-profile-data-update-container {
    padding: 15px;
}

a.btn.btn-primary.pull-right {
    text-align:center;
    width: 25%;
    display: flex;
    
    .link-button-text {
        margin: auto;
    }
}



@media all and (min-width: 768px) { 
    .jumbotron.user-profile-page-main-container {
        min-height: calc(100vh - 100px);
        height: calc(100vh - 100px);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 15%;
        padding-right: 15%;
        overflow: scroll;

    }

    .list-group-item.saved-items {

        $button-width: 12.5%;
        button {
            width: 12.5%;
            margin: 0;
        }
        .saved-items-description {
            width: auto;
            margin-left: 0;
            width: calc(100% - 3 * #{$button-width});
            max-width: calc(100% - 3 * #{$button-width});
            margin-top: auto;
            margin-bottom: auto;

            .desc-text {
                height: auto;
                //TODO: Make this a %?
                max-width: 50vw;
            }
        }

    }

}


@media all and (min-width: 1199px) { 
    .jumbotron.user-profile-page-main-container {
        padding-top: 5px;
        padding-left: 22.5%;
        padding-right: 22.5%;
        .text-center {
            margin-top: 10px;
        }

        .profile-stored-searches h2{
            margin-top: 10px;
        }

    }

    
}
@media all and (min-width: 1199px) { 
    .jumbotron.user-profile-page-main-container {
        padding-left: 27.5%;
        padding-right: 27.5%;
    
    }
}