

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar {
    margin-bottom: 0;
}
.navbar-footer {
  /* padding: 3%;*/
    color: #eee;
    /*position:fixed;*/
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(200, 200, 200, 0.9);

}
.navbar-toggle span {
    color: white;
}
.jumbotron {
    padding: 0px 15px;
    color: inherit;
    background-color: #eee;
    margin-top: 50px;
    margin-bottom: 0px;
    min-height: 85vh;
}

.jumbotron .container:first-of-type {
   height: 100%; 
}






