

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'userProfile';



@keyframes searchResultsFadeIn1 {
    from {opacity: 0.2}
    to {opacity: 1}
}

@keyframes searchResultsFadeIn2 {
    from {opacity: 0.2}
    to {opacity: 1}
}

$main-jumbotron-margintop: 60px;
$searchtype-picker-font-size: 1.5em;

select {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0;

}

.navbar-header {
    width: 100%;
}
.navbar-footer {
  /* padding: 3%;*/
    color: #eee;
    /*position:fixed;*/
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(200, 200, 200, 0.9);

}
.navbar-toggle span {
    color: white;
}
.jumbotron {
    padding: 0px 15px;
    color: inherit;
    background-color: #eee;
    margin-top: $main-jumbotron-margintop;
    margin-bottom: 0px;


}
.container > .navbar-header {
    margin: 0;
}

.jumbotron .container:first-of-type {
   height: 100%; 
}

.react-datepicker {
    margin: 0 auto 0 0;
    font-size:1em;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.container.inputfields {
    display:flex;
    flex-direction: column;
    
}

.title-container {
    display:flex;
    flex-direction: row;
    width: 100%;
}

.title-container span {
    display:flex;
    justify-content: center;
    text-align: center;
   
}

.search {
    word-wrap: break-word;
}

.search.codigo-externo.title, .search.codigo-estado.title, .search.nombre.title {
    border-top: 1px solid black;

    border-bottom: none;
}

.search.nombre.title {
        border-left: 1px solid black;

}
.search.codigo-estado.title {
        border-right: 1px solid black;
}

.search-results {
    list-style-type: none;
    font-size: 1em;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}
.search-results:first-of-type {
    border-top: 1px solid black;
}

.search.nombre{
    border-bottom: 1px solid black;
}

.search.codigo-externo {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.search.codigo-estado {

    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.autofiller.select {
    width: 100%;
}
.fullheight-btn {
    height: 100%;
}
.react-datepicker__close-icon::after {
    right: initial;
    margin-left: -20px;
}
.no-gutter {
    padding: 0;
}

.searchtypes-picker{
    font-size: $searchtype-picker-font-size;
}

.searchtypes-picker-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2% auto 2% auto;
    height: 3 * $searchtype-picker-font-size;
    text-align: center;
    background-color: rgba(230, 230 ,230, 0.2);
    cursor: default;
}

.searchtypes-picker-icon.active {
    background-color: #333333;
    color: white;
    border-radius: 5%;
    pointer-events: none;
}


.search-results-ul1 {
    animation-name: searchResultsFadeIn1 1s forwards;
    padding: 0;
}
.search-results-ul2 {
    animation: searchResultsFadeIn2 1s forwards;
    padding: 0;
}
.signup-form * {
    margin: 5px auto 5px auto;
}
.signup-form {
    display: flex;
    flex-direction: column;
    float: none;
    margin: auto;
}

.message-wrap {
    white-space: pre-wrap;
    margin: auto;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
.flash-close-alert.alert-danger {
    margin: -5px -20px 0px -20px;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid darkred;
}
.flash-close-alert.alert-success {
    margin: -5px -20px 0px -20px;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid limegreen;
}
.dropdown-visible {
    display: block;
}

.dropdown-container {
    height: 50px;
    padding-top: 7px;
    float:right;

}

@media all and (min-width: 700px) {
    .container.inputfields {
        display:flex;
        flex-direction: column;
        width: 70%;
        
    }
    .searchtypes-picker-icon {
        margin:auto;
        height: 3 * $searchtype-picker-font-size;
        text-align: center;
        background-color: rgba(230, 230 ,230, 0.2)
    }
}

@media all and (min-width: 1366px) {
    .container.inputfields {
        display:flex;
        flex-direction: column;
        width: 50%;
        
    }
    .searchtypes-picker{
        font-size: $searchtype-picker-font-size;
        width: 40%;
        margin: auto;
    }


}





