

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'userProfile';



@keyframes searchResultsFadeIn1 {
    from {opacity: 0.2}
    to {opacity: 1}
}

@keyframes searchResultsFadeIn2 {
    from {opacity: 0.2}
    to {opacity: 1}
}

$main-jumbotron-margintop: 50px;
$searchtype-picker-font-size: 1.5em;
$object-container-padding: 20px;

select {
    max-width: 100%;
}

.navbar {
    margin-bottom: 0;

}

.navbar-header {
    width: 100%;
}
.navbar-footer {
  /* padding: 3%;*/
    color: #eee;
    /*position:fixed;*/
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgba(200, 200, 200, 0.9);

}
.navbar-toggle span {
    color: white;
}
.jumbotron {
    padding: 15px;
    color: inherit;
    background-color: #eee;
    margin-top: $main-jumbotron-margintop;
    margin-bottom: 0px;


}
.container > .navbar-header {
    margin: 0;
}

.jumbotron .container:first-of-type {
    height: 50%;
    min-height: 320px;
}

.react-datepicker {
    margin: 0 auto 0 0;
    font-size:1em;
}

.react-datepicker__current-month {
    font-size: 1em;
}

.container.inputfields {
    display:flex;
    flex-direction: column;
    
}

.title-container {
    display:flex;
    flex-direction: row;
    width: 100%;
}

.title-container span {
    display:flex;
    justify-content: center;
    text-align: center;
   
}

.search {
    word-wrap: break-word;
}

.search.codigo-externo.title, .search.codigo-estado.title, .search.nombre.title {
    border-top: 1px solid black;

    border-bottom: none;
}

.search.nombre.title {
        border-left: 1px solid black;

}
.search.codigo-estado.title {
        border-right: 1px solid black;
}

.search-results {
    list-style-type: none;
    font-size: 1em;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}
.search-results:first-of-type {
    border-top: 1px solid black;
}

.search.fecha {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    &.title {
        border-bottom: none;
        border-right: none;
        border-top: 1px solid black;
        border-left: 1px solid black;
    }
}

.search.nombre{
    border-bottom: 1px solid black;
}

.search.codigo-externo {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.search.codigo-estado {

    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.search.subscription {
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.search.subscription-button-container {

    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: flex;
}
.subscription-button {
    margin:auto;
}

.autofiller.select {
    width: 100%;
}
.fullheight-btn {
    height: 100%;
}
.react-datepicker__close-icon::after {
    right: initial;
    margin-left: -20px;
}
.no-gutter {
    padding: 0;
}

.searchtypes-picker{
    font-size: $searchtype-picker-font-size;
}

.searchtypes-picker-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:2% auto 2% auto;
    height: 3 * $searchtype-picker-font-size;
    text-align: center;
    background-color: rgba(230, 230 ,230, 0.2);
    cursor: default;
}

.searchtypes-picker-icon.active {
    background-color: #333333;
    color: white;
    border-radius: 5%;
    pointer-events: none;
}


.search-results-ul1, .search-results-ul2 {
    animation: searchResultsFadeIn1 1s forwards;
    padding: 0;
}
//  .search-results-ul2 {
//     animation: searchResultsFadeIn2 1s forwards;
//     padding: 0;
// }
.signup-form * {
    margin: 5px auto 5px auto;
}
.signup-form {
    display: flex;
    flex-direction: column;
    float: none;
    margin: auto;
}

.flash-center {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    top: 0%;
    z-index: 9001;
   // pointer-events: none;
}

.message-wrap {
    // white-space: pre-wrap;
    // position: absolute;
    // z-index: 9001;
    // min-height: 300px;
    // min-width: 300px;
    // margin: auto;
    // text-align: center;
    // padding: 5px 20px 5px 20px;
    // border-radius: 5px;
    white-space: pre-wrap;
    position: absolute;
  //  z-index: 9001;
    min-height: 200px;
    min-width: 300px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: #eee;
    border: 2px solid lightblue;
    pointer-events: all;
}

.dropdown-visible {
    display: block;
}

.flash-message {

    min-width: 360px;
    width: 30%;
    margin: auto;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border-radius: 5px;

}

.dropdown-container {
    &.logged-in {
        display:flex;
        justify-content: flex-end;
        margin-top: 7px;
        flex-direction: column;
    }
}


.btn.btn-default.dropdown-toggle{
    margin: auto 0 auto auto;
}
// .dropdown {
//     position:relative;
// }
.dropdown-menu-right {
    display: flex;
    position: absolute;
    flex-direction: column;
}
.save-search-buttons {
    margin: 10px auto;
}


.prompt-background {
    background-color: rgba(238, 238 ,238, 0.7);
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 300px;
    min-width: 300px;
    z-index: 9001;
    display:flex;
}

.prompt-background-container {
    margin: 5% auto;
    background-color: #eee;
    border: 3px solid #bce8f1;
    border-radius: 10px;
    //max-height: 90%;
    height:auto;
    max-width:100%;
    overflow:auto;

    & > div:first-of-type {
        width:100% !important;
        margin:0 auto;

    }
    .prompt-buttons-container {
        display:flex;
        padding: 5px;
        button {
            display:flex;
            margin:auto;
        }
    }

}

.no-display {
    display: none;
}

.prompt {
    //position: flex;
    height: auto;
    min-height: 160px;
    width: 20vh;
    min-width: 360px;
    background-color: #eee;
    margin:auto;
    z-index: 9001;
    left: 25%;
    border-radius: 5px;
    border: 1px solid lightskyblue;

    & > input {
        margin: auto auto 2.5% 15%;
        width: 70%;
    }

    & > button {

        width: 40%;
        margin-bottom: 5%;
        &:first-of-type {
            margin-left: 10%;

        }
        &:last-of-type {
            margin-right: 10%;
        }
    }
}
.allow-wrap {
    white-space: initial;
}
.result-comparer-main-title {
    text-align:center;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}
.original-result-container {
    display:flex;
    flex-direction: column;
    width:40%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.original-result-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.main-result-comparer-container {
    display:flex;
    padding: 10px 25px 10px 25px;
    margin:auto;
    justify-content: center;

}

.all-differences-container {
    display:flex;
    flex-direction: column;
    min-width: 55%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.all-differences-title {
   @extend .original-result-title;

   .all-differences-title-note {
        display: none;
        position: absolute;
        /* display: flex; */
        font-size: 1em;
        z-index: 9003;
        background-color: beige;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 5px;
   }
   &:hover {
       .all-differences-title-note {
           display:flex;
       }
   }



}

.all-differences-each {
    display:flex;
   // flex-direction: column;
}

.primitive {
    word-wrap: break-word;
    border-left: 1px solid black;
    padding-left: 10px;
    
    .inPrimitive-key {
        font-weight: bold;
    }
}

.single-difference-container {
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.difference-item {

}


// .original-result-container > .object-data-container-array > .object-container-name {

//         margin-left:0;

 
// }

.object-container-name {
    margin-left: -$object-container-padding;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}
.object-container {
    display: flex;
    flex-direction: column;
}

.object-data-container {
    padding-left: $object-container-padding;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
@keyframes dropdown-anim {
    0% {
        transform: scaleY(0.3);
        transform-origin: top;
    }
    100% {
        transform: scaleY(1);
                transform-origin: top;
    }

}
.notifications-list-items-container {
    max-width: 200px;
    position: absolute;
    z-index:9001;
    padding: 0;
    left: -100px;
    color: #262626;

    .list-group-item {
        word-wrap: break-word;
    }
}
.notifications-container {

        position: absolute;
        left: 0;


}

.dropdown-menu-list-item {

    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: #262626;

    padding: 3px 20px;
    &:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
}

// .list-group.perfil-notificaciones {
//     overflow:hidden;
//     z-index:2;
//     ul{
//         display: none;
//     }
// }
// .list-group.perfil-notificaciones:hover {
//     .ul-container {
//            z-index: 1;
//     }
//     ul {
//         display: block;
//         animation: dropdown-anim 0.6s forwards;
//         z-index: 1;
//         position: relative;

//     }
// }


















.checkboxes-container {
    padding-left: 29px;
    input {
        transform: scale(1.8);
        margin: 10px;
    }
    
}


.json-schema-label {
    width: 100%;
}
.json-schema-checkbox-label {
    margin: 5px;
    padding: 0 5px 0 5px;
    border: 1px solid black;
}

.filter-columns-container {
    display: inline-block;
    width: 100%;
}













@media all and (min-width: 700px) {
    .container.inputfields {
        display:flex;
        flex-direction: column;
        width: 70%;
        
    }
    .searchtypes-picker-icon {
        margin:auto;
        height: 3 * $searchtype-picker-font-size;
        text-align: center;
        background-color: rgba(230, 230 ,230, 0.2)
    }
}

@media all and (min-width: 1199px) {
    .container.inputfields {
        display:flex;
        flex-direction: column;
        width: 90%;
    }
    .searchtypes-picker{
        font-size: $searchtype-picker-font-size;
        width: 40%;
        margin: auto;
    }

    .user-menu {
        display: none;
    }

    .dropdown-menu.dropdown-menu-right {
        flex-direction: row;
        background-color: transparent;
        /* color: white; */
        height: 50px;
        padding: 0;
        margin: 0;
        box-shadow: none;
        border: none;
        /* border: 1px solid white; */
        margin-top: -7px;
        a {
            color:white;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        li {
            height: 100%;
        }
    }

    .jumbotron {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .prompt-background {
        height:100%;
    }
    .prompt-background-container {
        height:auto;
        max-width: 90%;
    }

    .notifications-container {
   
        position: fixed;
        left: 0;
        top: 50px;


    }
    .notifications-list-items-container {
            max-width: 300px;
            width:300px;
            left: -30px;
            top: 50px;
            border-left: 1px solid #212121;
            border-bottom: 1px solid #212121;
            border-right: 1px solid #212121;
            border-radius: 0px 0px 5px 5px;
            .list-group-item.notifications:first-of-type {
                border-radius: 0;
            }
        }
    .dropdown-menu-list-item {
        color: white;
        &.active {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }
    }

}


@media all and (min-width: 1400px) {
    .container.inputfields {
        width: 70%;
    }
}

@media all and (min-width: 1600px) {
    .container.inputfields {
        width: 50%;
    }
}






